*.csr
*.key
*.log*
*.pem
*.pfx
.build
.DS_STORE
.idea
.module-cache
.vscode/settings.json
branchNameString.txt
build
build.env
coverage
dist
dist-web
release
node_modules
test-tools
test-coverage
version.txt
branchNameString.txt
*.csr
*.key
*.pfx
*.pem
.vscode/chrome
build.env
*.typegen.ts


